<h2>Todo List</h2>
<ul class="todos">
  <li *ngFor="let todo of todos"
      (click)="onSelect(todo)"
      routerLink="/detail/{{todo.id}}"
  >
    <h4>{{todo.title}}
      <button
        class="delete"
        title="delete todo"
        (click)="delete(todo)"
      >
        x
      </button>
    </h4>
    <p>{{todo.description}}</p>
  </li>
</ul>

<div>
  <h4> Add new Todo </h4>
  <p>
    <label> Title:
      <input #todoTitle />
    </label>
  </p>
  <p>
    <label> Description:
      <input #todoDescription />
    </label>
  </p>

  <button (click)="add(todoTitle.value, todoDescription.value); todoTitle.value=''; todoDescription.value=''">
    add
  </button>
</div>
