<div *ngIf="todo" class="container">
  <div class="row">
    <div class="col mx-auto" style="text-align: center;">
      <h2>{{todo.title}} Detail</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <form>
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Title"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input [(ngModel)]="todo.description" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Description"/>
        </div>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
        <button type="button" class="btn btn-dark" (click)="goBack()">Go back</button>
      </form>
    </div>
  </div>
</div>

